html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-track {
  background: rgb(250, 248, 249) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb {
  background: #757575 !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 226, 83) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(214, 39, 39) !important;
  border-radius: 3px 
}
